version: 2.1

workflows:
  version: 2
  build:
    jobs:
      - build:
          context:
            - common-not-really-secrets
            - common-archiva
            - common-github
            - common-sonar
      - deploy:
          context:
            - common-not-really-secrets
            - common-archiva
            - common-github
          requires:
            - build
          filters:
            branches:
              only: master
      - cloudesire/maven_release:
          executor_java_version: "21.0"
          mvn_path: ./mvnw
          workspace: /home/circleci
          context:
            - common-not-really-secrets
            - common-archiva
            - common-github
            - common-ossrh
            - common-slack
          requires:
            - build
          filters:
            branches:
              only: release

orbs:
  cloudesire: cloudesire/common@2

jobs:
  build:
    executor:
      name: cloudesire/docker_java
      java_version: "21.0"
    steps:
      - checkout:
          method: full

      - cloudesire/git_checkout:
          url: git@github.com:ClouDesire/ci-conf.git

      - cloudesire/maven_with_cache:
          mvn_path: ./mvnw
          force_download: false
          cache_key: "1"
          steps:
            - run:
                name: Import GPG key
                command: echo $BASE64_SIGNING_KEY | base64 -d | gpg --import
            - run:
                name: Build
                command: ./mvnw -B install -Dmaven.test.skip=true
            - cloudesire/test_sonar

      - run:
          name: Run Tests
          command: ./mvnw -B verify

      - cloudesire/maven_aggregate_tests_results

      - when:
          condition:
            equal: [ "<<pipeline.git.branch>>", "master" ]
          steps:
            - persist_to_workspace:
                root: /home/circleci
                paths:
                  - .

  deploy:
    executor:
      name: cloudesire/docker_java
      java_version: "21.0"
    steps:

      - attach_workspace:
          at: /home/circleci

      - cloudesire/maven_with_cache:
          mvn_path: ./mvnw
          force_download: false
          cache_key: "1"
          steps:
            - run:
                name: Import GPG key
                command: echo $BASE64_SIGNING_KEY | base64 -d | gpg --import
            - run:
                name: Deploy to archiva
                command: ./mvnw -B deploy -Dmaven.test.skip=true
